<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activity.SubApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Combustible"
        tools:targetApi="31">

        <activity
            android:name=".activity.feed.post.PostFeedActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.fullscreen.welcome.WelcomeActivity"
            android:exported="false" />

        <activity
            android:name=".activity.settings.app.AppSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".activity.settings.user.UserSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".activity.fullscreen.login.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".activity.feed.comment.CommentFeedActivity"
            android:exported="false" />

        <activity
            android:name=".activity.feed.tabbed.saved.SavedFeedActivity"
            android:exported="false" />

        <activity
            android:name=".activity.feed.tabbed.user.UserFeedActivity"
            android:exported="false" />

        <activity
            android:name=".activity.feed.tabbed.blocked.BlockedFeedActivity"
            android:exported="false" />

        <activity
            android:name=".activity.ViewImageActivity"
            android:exported="false"
            android:theme="@style/Theme.Combustible.ViewImage" />

        <activity
            android:name=".activity.feed.tabbed.search.SearchFeedActivity"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.thebrokenrail.combustible.activity.feed.tabbed.search.SearchFeedActivity" />

        <provider
            android:name=".util.SearchSuggestionProvider"
            android:authorities="com.thebrokenrail.combustible.util.SearchSuggestionProvider"
            android:exported="false" />

    </application>

</manifest>